*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Calibri", sans-serif;
	color: darkslategray;
}

body{
	background-image: url(https://tse2.mm.bing.net/th?id=OIP.YTTVXfL8uQUHVGUYUTzL4gHaE8&pid=Api&P=0&h=220);
	background-repeat: no-repeat;
	background-size: cover;
}

nav{
	padding: 16px;
	margin-bottom: 4px;
	background-color: lightskyblue;
	text-align: center;
}

.nav-link{
	font-size: 22px;
	margin-left: 30px;
	margin-right: 30px;
	color: darkslateblue;
}

a{
	text-decoration: none;
}

#landing{
	text-align: center;
}

#profile{
	height: 300px;
	margin-top: 25px;
	margin-bottom: 15px;
	border-radius: 150px;
	border: 10px solid gray;
}

#name{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 50px;
	font-weight: bolder;
}

#title{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 30px;
}

#intro{
	width: 600px;
	margin: 0 auto;
	font-size: 22px;
}

#tools{
	text-align: center;
	margin: 50px auto;
	background-color: white;
	border: 1px solid black;
	width: 800px;
}

#tools-title{
	margin-bottom: 25px;
	margin-top: 25px;
}

.tools-image1{
	width: 200px;
	margin-left: 45px;
	margin-right: 45px;
}

.tools-image2{
	width: 200px;
	margin-left: 25px;
	margin-right: 25px;
}

#css{
	width: 250px;
	margin-right: 10px;
}

#projects{
	text-align: center;
}

.card{
	background-color: lightblue;
	height: 400px;
	width: 600px;
	margin: 25px auto;
	border: 3px solid gray;
	border-radius: 30px;
	padding: 20px;
}

.card-img{
	height: 300px;
	width: 400px;
	margin-top: 15px;
}

#contact{
	text-align: center;
	padding: 16px;
	margin-top: 4px;
	background-color: lightskyblue;
}

.profile-links{
	font-size: 18px;
	margin: 15px 40px;
}
